@font-face {
    font-family: Maha;
    src: url(Maha/Maha.ttf)
}
a {
    color: black;
}
body {
    margin: 0;
    font-family: Maha;
}
.block-href {
    background-color: rgb(223, 157, 109);
    width: 5%;
    height: 15.2%;
    position: absolute;
    left: 0;
    writing-mode: tb-rl;
    text-align: center;
    
    border-radius: 3%;
    font-size: 100%;
}
.block {
    background-color: rgb(167, 114, 79);
    width: 3%;
    height: 15.2%;
    position: absolute;
    left: 0;
    writing-mode: tb-rl;
    text-align: center;
    color: black;
    border-radius: 3%;
    font-size: 100%;  
}
.block:hover{
    background-color: rgb(223, 157, 109);
   width: 5%;
}
.main_text {
    position: absolute;
    width: 50%;
    left: 8%;
    bottom: 10%;
}
.text {
    color: rgb(88, 49, 38);
    position: absolute;
    width: 48%;
    height: 30%;
    left: 11%;
    line-height:1.6;
    font-size: 140%;
    bottom: 20%;
}
.a1 {
    position: absolute;
    left: 10%;
    top: 3%;
    font-size: 800%;
    line-height: 0.9;
    color: #2a0903;
}
