body {
    font-family: Lucida Console;
}

 .vklad {
    background-color: rgb(255, 149, 110);
    height: 16%;
    position: absolute;
    right: 0;
    text-align: center;
    writing-mode: tb-rl;
}

.nevklad {
    background-color: rgb(255, 181, 154);
    height: 16%;
    position: absolute;
    right: 0;
    padding-right:5%;
    text-align: center;
    writing-mode: tb-rl;
}

.t {
font-size: 30px;
}

a {
color: rgb(255, 149, 110);
}
a:visited {
color:rgb(255, 149, 110); 
}
a:active {
color: rgb(89, 17, 50);
}
